<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container my-4">
        <h1>Hello! Welcome to My Website</h1>
        </div>
    <div class="container">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>
        {% if obj %}
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>
        <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail">
        {% endif %}
        <hr>
        {% for x in img %}
        {% if forloop.first %}
        <div class="row ">{% endif %}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="text-center mt-2">
                    <img src="{{x.image.url}}" height="70%" width="70%" class="img-thumbnail" alt="...">
                    <h2 class="text-center">{{x.caption}}</h2>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}
            {% if forloop.last %}
        </div>{% endif %}
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
</body>

</html>
